extend ../layout/layout

block title
    title(translate="FAQ_TITLE") 專案

block vars
    - nav_cls.about = 'highlight'
block content
  .ui.orange.button
    | g0v 專案群
  h2.ui.header
    i.settings.icon
    .content
      | 開放政府
      .sub.header Manage your account settings and set e-mail preferences.

  .ui.stackable.three.items
      .item
          .content
            .name 中央政府總預算視覺化
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/budget.png')
            p
            p.description
              | 運用鳥瞰圖、變化圖、國債鐘等互動圖表，依比例呈現中央政府各部門的預算，開放網友評論。
            p
            .name2 專案網址
            p.description
              | http://budget.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://blah.blah
        .item
          .content
            .name 國會大代誌
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/ly.png')
            p
            p.description
              | 即時顯示國會行程、修法進度，還推播到 Twitter 供人訂閱。除了文字之外還整合了國會影像，標示每一位委員的發言時間供搜尋。
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw
        .item
          .content
            .name 立委投票指南
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/vote.png')
            p
            p.description 替立委排名，依數據列出缺席、不投票、脫黨跑票、修正法案數、臨時提案數等的立委排行。也提供表決視覺化名單，表決、法案、臨時提案的關鍵字搜尋。
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw



        .item
          .content
            .name 立委投票指南
            p.description
              | 替立委排名，依數據列出缺席、不投票、脫黨跑票、修正法案數、臨時提案數等的立委排行。也提供表決視覺化名單，表決、法案、臨時提案的關鍵字搜尋。
          .extra
            | 522 votes
        .item
          .content
            .name 議員投票指南
            p.description
              | Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.
          .extra
            | 522 votes
      .item
          .content
            .name 開放政治獻金
            p.description
              | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.
          .extra
            | 199 votes
        .item
          .content
            .name 公務人員出國考察網
            p.description
              | Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.
          .extra
            | 311 votes
        .item
          .content
            .meta 1 week ago
            .name Silly Dog
            p.description
              | Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.
          .extra
            | 522 votes
        .item
          .content
            .meta 1 week ago
            .name Silly Dog
            p.description
              | Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.
          .extra
            | 522 votes

  h2.ui.header
    i.settings.icon
    .content
      | 開放資料
      .sub.header Manage your account settings and set e-mail preferences.
  .ui.stackable.two.items
      .item
          .content
            .name 中央政府總預算視覺化
            p.description
              | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.
          .extra
            | 199 votes
        .item
          .content
            .name 國會大代誌
            p.description
              | Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.
          .extra
            | 311 votes
        .item
          .content
            .meta 1 week ago
            .name 立委投票指南
            p.description
              | Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.
          .extra
            | 522 votes


  h2.ui.header
      i.settings.icon
      .content
        | 社會參與
        .sub.header Manage your account settings and set e-mail preferences.
    .ui.stackable.two.items
      .item
          .content
            .name 中央政府總預算視覺化
            p.description
              | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.
          .extra
            | 199 votes
        .item
          .content
            .name 國會大代誌
            p.description
              | Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.
          .extra
            | 311 votes
        .item
          .content
            .meta 1 week ago
            .name 立委投票指南
            p.description
              | Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.
          .extra
            | 522 votes

  h2.ui.header
      i.settings.icon
      .content
        | 新媒體
        .sub.header Manage your account settings and set e-mail preferences.
  .ui.stackable.two.items
      .item
          .content
            .name 中央政府總預算視覺化
            p.description
              | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.
          .extra
            | 199 votes
        .item
          .content
            .name 國會大代誌
            p.description
              | Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.
          .extra
            | 311 votes
        .item
          .content
            .meta 1 week ago
            .name 立委投票指南
            p.description
              | Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.
          .extra
            | 522 votes


